* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  /* background-color: gray; */
}
.footer_fixed {
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;
  box-sizing: border-box;
}
header {
  width:100%;
  height: 100px;
  background-color: rgb(82, 232, 255);
}
footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: rgb(255, 209, 82);
}

