#bords-create {
  --sideBar-padding         :20px 10px;
  --sideBar-margin          :3px 20px 3px 0px;
  --hover-opacity           :0.7;
  --hover-transition        :0.5;
  --reply-comment-font-size :10px;
  display         : flex;
  margin-top      : 50px;
  justify-content : center;
}
.all-header {
  min-width : 0px;
}
.bords-create-sideBar {
  width     : 25%;
  font-size : 16px;
  max-width : 300px;
  min-width : 200px;
}
.bords-create-sideBar-majorItem {
  padding          : var(--sideBar-padding);
  margin           : var(--sideBar-margin);
  background-color : rgb(80, 80, 80);
  color            : rgb(255, 255, 255);
}
.bords-create-sideBar-majorItem:hover {
  opacity    : var(--hover-opacity);
  transition : var(--hover-transition);
}
.bords-create-sideBar-subItem-button {
  color           : rgb(255, 255, 255);
  text-decoration : none;
}
.bords-create-sideBar-subItem-item {
  padding          : var(--sideBar-padding);
  margin           : var(--sideBar-margin);
  background-color : rgb(150, 150, 150);;
}
.bords-create-sideBar-subItem-item:hover {
  opacity    : var(--hover-opacity);
  transition : var(--hover-transition);
}



.bords-create-mainBar {
  width            : 75%;
  padding          : 30px 150px;
  max-width        : 1400px;
  min-width        : 700px;
  background-color : rgb(255, 255, 255);
}
.bords-create-mainBar-postedContent-box {
  min-width: 550px;
}
.bords-create-mainBar-postedContent-box {
  padding    : 5px 10px;
  margin     : 20px 0;
  color      : #5d627b;
  background : white;
  border-top : solid 5px #5d627b;
  box-shadow : 0 3px 5px rgba(0, 0, 0, 0.22);
}

.bords-create-mainBar-postedContent-box-name {
  font-size : 17px;
}
.bords-create-mainBar-postedContent-box-comment {
  font-size    : 15px;
  padding-left : 20px;
}

.reply-comment {
  font-size : var(--reply-comment-font-size);
  cursor    : pointer;
}
.reply-commentBox {
  display : none;
}
.reply-display {
  font-size : var(--reply-comment-font-size);
  cursor    : pointer;
}

.reply-comment-listBox {
  display      : none;
}

.reply-comment-list {
  font-size    : 12px;
  padding-left : 10px;
}



.bords-create-mainBar-pageRing {
  text-align  : center;
  line-height : 40px;
  height      : 40px;
  width       : 100%;
  margin      : 15px 0;
}

.bords-create-mainBar-postForm>form {
  border-style : ridge;
  padding      : 30px;
}
.bords-create-mainBar-postForm>form>div{
  display       : flex;
  margin-bottom : 10px;
}

.bords-create-mainBar-postForm>form>div>p{
  font-size : 14px;
  width     : 70px;
}

#top-btn {
  display          : none;
  position         : fixed;
  right            : 50px;
  bottom           : 50px;
  color            : rgb(255, 255, 255);
  background-color : rgb(80, 80, 80);
  border-radius    : 25px;
  height           : 50px;
  width            : 50px;
  opacity          : 0.5;
  font-size        : 0px;
  text-align       : center;
  line-height      : 50px;
  font-size        : 30px;
}
#top-btn > p {
  transform   : scale(1.7, 1.0)
}

#top-btn:hover {
  opacity : 1.0;
  cursor  : pointer;
}
