.bords-index {
  --hover-opacity    : 0.7;
  --hover-transition : 0.5;
  margin             : 100px 200px;
  display            : flex;
  justify-content    : center;
}
.bords-index-main {
  background-color : rgb(255, 255, 255);
  padding          : 30px 40px 60px;
  min-width        : 800px;
  width            : 1400px;
}
.bords-index-main-topText {
  text-align     : center;
  padding-bottom : 35px;
  font-size      : 18px;
}
.bords-index-main-itemBox {
  margin                : 0 auto;
  display               : grid;
  grid-template-columns : 1fr 1fr 1fr;
  gap                   : 40px 30px;
}
.bords-index-main-itemBox-button {
  text-decoration : none;
}
.bords-index-main-itemBox-item {
  max-width     : 270px;
  margin        : 0 auto;
  color         : rgb(255, 255, 255);; 
  background    : rgb(255, 130, 220);
  overflow      : hidden;
  text-overflow : ellipsis;   
  display       : block;
  border-radius : 8px;
  text-align    : center;
  padding       : 20px 30px;
}
.bords-index-main-itemBox-item:hover {
  opacity    : var(--hover-opacity);
  transition : var(--hover-transition);
}